.kudos
  -webkit-user-select: none;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin 24px auto;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  white-space: nowrap;
  width 200px;
  will-change: box-shadow,transform;

  &:focus
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;

  &:hover
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);

  &:active
  &.disabled
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);

.kudos-already-clicked
  height: 16px;
  position: absolute;
  right: 24px;
  width: 16px;

  &.hidden
    display: none;
